<header class="site-header">
  <div class="wrapper">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <nav class="navbar">
          <div class="navbar-header left">
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
          </div>

          <div class="navbar-header right">
            <a class="navbar-brand secondary" href="https://github.com/Mirmeca/Mirmeca/" target="_blank">GitHub</a>
            <a class="navbar-brand secondary" href="/Mirmeca/documentation">Documentation</a>
          </div>
        </nav>

      </div>
    </div>

  </div>
</header>