<div class="container">
  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/600x300/00a8a8/fff" alt="tutorial-image">
        <div class="caption">
          <h4>Load your blog's latest posts</h4>
          <p>All you need is a TableViewController<br>and five lines of code.</p>
          <p><a href="#" class="btn btn-default" role="button">Learn Now</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/600x300/00a8a8/fff" alt="tutorial-image">
        <div class="caption">
          <h4>Build a search feature for your app</h4>
          <p>Go from days of development to just minutes.<br>Let Mirmeca do the heavy lifting for you.</p>
          <p><a href="#" class="btn btn-default" role="button">Learn Now</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/600x300/00a8a8/fff" alt="tutorial-image">
        <div class="caption">
          <h4>Let your users navigate by categories</h4>
          <p>A simple tutorial to learn how to<br>manipulate different WordPress types in Mirmeca.</p>
          <p><a href="#" class="btn btn-default" role="button">Learn Now</a></p>
        </div>
      </div>
    </div>

  </div>
</div>