.navbar {
  position: absolute;
  width: 100%;
  clear: both;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  .left { float: left; }
  .right { float: right; }

  a {
    color: $white;
    &:hover, &:visited { @extend a; }
    &.secondary {
      font-weight: lighter;
      letter-spacing: 1px;
      color: $gray-light;
      &:hover { color: $white; }
    }
  }
}

.jumbotron {
  padding: 10rem 0;
  color: $white;
  background: linear-gradient(120deg, $blue-dark, $blue-light);

  .btn-default {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    &:hover {
      background-color: $white;
      color: $blue-dark;
    }
  }

  &.footer {
    padding: 3rem 0;
    margin: 3rem 0 0 0;
  }
}

.post-content {
  img { max-width: 100%; }
}